@model IEnumerable<MvcBookStore.Domain.Book>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="col-md-4">
        <img src="~/content/img/bookmark-icon.png" class="img-responsive" />
    </div>
    <div class="col-md-8 clearfix">
        <h1>Welcome to MVC Book Store</h1>
        <p>
            This is a sample application built using ASP.NET MVC, Entity Framework and SQL Server.
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<hr />
<h2>Best Sellers</h2>
<ol class="list-unstyled">
    @foreach (var book in Model)
    {
        <li>
            @Html.Partial("Book/DisplayShortInfoPartial", book)
        </li>
    }
</ol>